*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white: #fff;
  --color-lightGrey: rgb(243, 243, 243);
  --color-lightBlue: lightblue;
  --color-blue: rgb(69, 69, 241);
  --blue-1: #62b8f5;
  --blue-2: #4475ef;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(176, 221, 241) 35%,
    rgba(99, 197, 227, 0.76) 100%
  );
}

h1 {
  font-size: 5rem;
  margin: 1.3rem;
  font-weight: 400;
}

/* form */
.form__container {
  text-align: center;
  width: fit-content;
  margin: auto;
}
.search__container {
  border-bottom: 1px solid var(--color-white);
  width: fit-content;
}

.search__location {
  border: none;
  padding: 1rem;
  background: inherit;
  color: var(--color-white);
}

.search__location:focus {
  outline: 0;
}

.search__location::placeholder {
  color: var(--color-lightGrey);
  font-weight: 400;
}

.submit__btn {
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
  color: var(--color-white);
}

/* main container */
.main__container {
  text-align: center;
}

.location {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--color-white);
}
.cloud {
  margin-top: 0.9rem;
  color: var(--color-lightGrey);
}

.cloud__info {
  margin-top: 0.5rem;
  color: var(--color-lightGrey);
}

.cloud__img {
  height: 40px;
  margin-top: 2rem;
}

.temperature {
  font-weight: 500;
  color: var(--color-white);
}

/* container */
.container {
  text-align: center;
  padding: 3rem;
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgb(105, 177, 231) 35%,
    rgba(8, 154, 216, 0.76) 100%
  );

  box-shadow: 0 0 20px rgb(119, 209, 245);
}

.container .main__container {
  margin-top: 3rem;
}

.wind__humidity {
  display: flex;
  justify-content: center;
}

.wind__humidity > section {
  padding: 0 1rem;
}

.wind__block {
  text-align: right;
  border-right: 1px solid var(--color-white);
}

.humidity__block {
  text-align: left;
  border-left: 1px solid var(--color-white);
}
